/* .container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 50px);
}
.container > div{
    border: 3px solid white;
}
.box1{
    background-color: cornflowerblue;
    grid-column: 1 / 3;
}
.box2{
    background-color: aqua;
    grid-column: 3 / 5;
}
.box3{
    background-color: mediumaquamarine;
    grid-column: 1 / 2;
}
.box4{
    background-color: palegreen;
    grid-column: 2 / 5;
}
.box5{
    background-color: steelblue;
    grid-column: 1 / 5;
} */

/* .container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 100px);
}
.container > div{
    border: 3px solid white;
}
.box1{
    background-color: cornflowerblue;
    grid-column: 1 / 5;
}
.box2{
    background-color: aqua;
    grid-column: 1 / 3;
    grid-row: 2 / 4;
}
.box3{
    background-color: mediumaquamarine;
    grid-column: 3 / 5;
    grid-row: 2 / 3;
}
.box4{
    background-color: palegreen;
    grid-column: 3 / 4;
    grid-row: 3 / 4;
}
.box5{
    background-color: steelblue;
    grid-column: 4 / 5;
    grid-row: 3 / 4;
} */
@media only screen and (min-width: 600px){
    .container{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(7, 50px);
    }
    .container > div{
        border: 3px solid white;
    }
    .box1{
        background-color: cornflowerblue;
        grid-column: 1 / 5;
    }
    .box2{
        background-color: aqua;
        grid-column: 1 / 5;
        grid-row: 2 / 3;
    }
    .box3{
        background-color: mediumaquamarine;
        grid-column: 1 / 5;
        grid-row: 3 / 5;
    }
    .box4{
        background-color: palegreen;
        grid-column: 1 / 5;
        grid-row: 5 / 6;
    }
    .box5{
        background-color: steelblue;
        grid-column: 1 / 5;
        grid-row: 6 / 7;
    }
}
@media only screen and (min-width: 800px){

    .container{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(6, 50px);
    }
    .container > div{
        border: 3px solid white;
    }
    .box1{
        background-color: cornflowerblue;
        grid-column: 1 / 5;
    }
    .box2{
        background-color: aqua;
        grid-column: 1 / 2;
        grid-row: 2 / 4;
    }
    .box3{
        background-color: mediumaquamarine;
        grid-column: 2 / 5;
        grid-row: 2 / 4;
    }
    .box4{
        background-color: palegreen;
        grid-column: 1 / 5;
        grid-row: 4/ 5;
    }
    .box5{
        background-color: steelblue;
        grid-column: 1 / 5;
        grid-row: 5 / 6 ;
    }
}
@media only screen and (min-width: 900px){
    .container{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(5, 50px);
    }
    .container > div{
        border: 3px solid white;
    }
    .box1{
        background-color: cornflowerblue;
        grid-column: 1 / 5;
    }
    .box2{
        background-color: aqua;
        grid-column: 1 / 2;
        grid-row: 2 / 4;
    }
    .box3{
        background-color: mediumaquamarine;
        grid-column: 2 / 4;
        grid-row: 2 / 4;
    }
    .box4{
        background-color: palegreen;
        grid-column: 4 / 5;
        grid-row: 2 / 4;
    }
    .box5{
        background-color: steelblue;
        grid-column: 1 / 5;
        grid-row: 4 / 5;
    }
}