*{
    margin: 0
}
.headerStyle {
    display: flex;
    height: 20vh;
    width: 100%;
    font-size: 200%;
    justify-content: center;
    align-items: center;
    background: #1eeba6; 
    background: -webkit-linear-gradient(to right #1eeba6; #fff);
    background: linear-gradient(to right, #1eeba6, #fff);
    border: 2px solid black
}
.formStyle {
    display: flex;
    width: 100%;
    height: 25%;
    align-items: center;
    justify-content: center;   
}
.inputStyle {
    height: 45px;
    width: 50%;
    font-size: 125%
}
.buttonStyle {
    width: 25%;
    height: 50px;
    border: 2px solid black
}
.mapStyle {
    display: flex;
    width: 700px;
    height: 500px;
    border: 5px solid black
}
.resultsStyle {
    height: 500px;
    padding-left: 5%;
    padding-top: 10%
}
.combo {
    display: flex;
    align-items: center;
    justify-content: center;
}